.box-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center
}
.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid #a3a0af;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    background: #f5f0e4;
    padding: 30px 40px;
}

form h1 {
    font-size: 36px;
    text-align: center;
    color: #32362d;
}

.input-box {
    width: 100%;
    height: 50%;
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #F4EEE0;
    border-radius: 30px;
    font-size: 14px;
}

.rememberme-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    font-size: 12px;
}

.rememberme-forget a {
    color: #007bff;
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    background-color: #32362d;
    border: 1px solid #32362d;
    color: #fff;
}

button:hover{
    background-color: #373b32; 
}

.btn:disabled {
    border: 1px solid #898c87;
    background-color: #898c87;
    cursor: not-allowed;
}

.register p {
    margin-top: 20px;
    font-size: 14px;
}

.register a {
    color: #007bff;
    text-decoration: underline;
}

.error{
    color: red;
    font-size: 14px;
}

.confirm{
    color: rgb(99, 222, 68);
    font-size: 15px;
}