/* This will be the wrapper that holds the background styling */
.backgroundWrapper {
  background-size: cover;
  background-position: center center; 
  background-attachment: fixed; 
  margin-top: -1%;
  min-height: 100vh; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  padding: 2rem;
}
/*Header Style*/
.headerContainer {
  text-align: center;
  color: #32362d;
  padding: 0rem;
}

.headerTitle {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.headerTagline {
  font-size: 1.5rem;
  color: #32362d;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 0;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Style for the signup form container */
.signupContainer {
  height:100vh;
  padding-left: 25%;
}

.signupForm {
  width: 420px;
  background: transparent;
  border: 2px solid #a3a0af;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  background: #f5f0e4;
  padding: 30px 40px;
}

.formTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0.01rem;
  align-self: center;
  text-align: center;
}
.formSubtitle{
  text-align: center;
}

.signupForm input {
  width: 90%;
  padding: 0.75rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.signupForm label {
  display: block;
  margin-bottom: 0.5rem;
}

.formField {
  margin-bottom: 0.001rem;
}

.signupButton {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  background-color: #32362d;
  border: 1px solid #32362d;
  color: #fff;
}



.signInContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.signInContainer p {
  margin: 0;
}

.signInContainer .signInLink {
  margin-left: 0.5rem;
}

.inputWrapper {
  position: relative;
}

.inputWrapper input {
  padding-right: 2.5rem; /* Space for the icon */
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.successMessage {
  color: green;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}


.orContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.orText {
  font-size: 14px;
  color: #666;
  font-weight: bold;
}
