.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #974903;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .header-logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
  .header-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .header-link:hover {
    color: #ffcc00;
  }
  
  .header-user {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header-avatar {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    color: #974903;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .header-username {
    color: #ffffff;
    font-size: 1rem;
  }
  
  .header-search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
  }

  .search-category,
  .search-input,
  .search-button {
    padding: 10px;
    font-size: 1rem;
    border: none;
  }
  
  .search-category {
    padding: 5.5px;
    border: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    flex-shrink: 0;
  }
  
  .search-input {
    padding: 6px 100px 6px 6px;
    border: 1px solid #ccc;
    }
  
  .search-button {
    padding: 5.5px 20px;
    background-color: #007bff;
    color: white;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .search-category:focus,
  .search-input:focus,
  .search-button:focus {
    outline: none;
  }